@model Login
@{
    ViewData["Title"] = "Authentication";
}

<div class="jumbotron shadow">
    <h1 class="display-4 text-primary">App Updates</h1>
    <p class="lead">Remotely update .NET Core 2.2 apps running on IoT devices running Linux or Windows 10 IoT Core.</p>
    <p>This website allows authorized users to manage application updates and application installation packages.  <b class="text-danger">Unauthorized use of this platform is strictly prohibited and punishable by law.</b></p>
    <small>Version: @typeof(Hyprsoft.IoT.AppUpdates.Web.Extensions).GetAssemblyInformationalVersion() | Build date: @Html.GetAssemblyBuildDateTime().ToLocalTime().ToString("f")</small>
</div>

<h3>@ViewData["Title"]</h3>

<div class="card shadow">
    <div class="card-body">
        <form asp-area="AppUpdates" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" autocomplete="app-updates-username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" autocomplete="app-updates-password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </form>
    </div>
</div>
